##  CPI deflation

In [1]:
import pandas as pd
import datetime

In [29]:
data1 = pd.read_csv("inner_join.csv")

In [30]:
data1

,Date,OTH 18-20kg,OTH 20-22kg,OTH 22-24kg,WTFESY,Unnamed: 0,18-22kg,12-18kg,22+kg,16-22kg,0-18kg,18-24kg
0,31/01/2000,204.000000,202.00,198.250000,145.250000,1.5,198.000000,186.000000,189.500000,145.250000,197.75,55.250000
1,29/02/2000,192.250000,188.75,187.000000,152.750000,5.5,182.500000,162.500000,178.000000,120.500000,167.75,48.750000
2,31/03/2000,189.000000,188.00,188.750000,153.200000,10.0,179.400000,167.600000,174.600000,131.600000,155.00,56.600000
3,30/04/2000,190.666667,189.00,190.666667,154.000000,14.5,172.750000,165.750000,163.750000,128.750000,160.25,66.250000
4,31/05/2000,176.600000,177.40,185.400000,157.000000,18.5,159.750000,148.250000,159.500000,108.250000,138.00,73.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
236,30/09/2019,790.800000,790.80,790.800000,370.000000,1026.5,822.000000,775.500000,824.500000,744.500000,840.00,555.500000
237,31/10/2019,783.000000,783.00,778.500000,382.500000,1031.0,801.800000,771.000000,800.400000,730.200000,849.80,575.800000
238,30/11/2019,759.250000,759.25,757.750000,376.250000,1035.5,749.250000,746.250000,742.000000,709.000000,788.50,577.250000
239,31/12/2019,721.000000,734.00,734.000000,403.333333,1039.5,729.166667,735.833333,727.416667,680.416667,725.00,521.833333
240,31/01/2020,695.500000,729.75,729.750000,429.333333,1043.5,754.333333,758.416667,738.333333,719.583333,778.50,559.916667

In [31]:
cpi = pd.read_csv("CPI.csv")

In [32]:
cpi

       Quarter  CPIDec20
0    1/09/1948     0.032
1    1/12/1948     0.032
2    1/03/1949     0.033
3    1/06/1949     0.034
4    1/09/1949     0.035
..         ...       ...
286  1/03/2020     0.995
287  1/06/2020     0.976
288  1/09/2020     0.991
289  1/12/2020     1.000
290  1/03/2021     1.006

[291 rows x 2 columns]

In [33]:
def generatedict(df):
    return pd.Series(df.CPIDec20.values,index=df.Quarter).to_dict()

In [34]:
cpi_dict1 = generatedict(cpi)

In [35]:
def get_CPI(date, cpi_dict = cpi_dict1):
    ## assume string e.g. "04/10/1948"
    month = date[-7:-5]
    
    if 1 <= int(month) <= 3: ## convert to correct quarter end date
        month = "03"
    elif 4 <= int(month) <= 6:
        month = "06"
    elif 7 <= int(month) <= 9:
        month = "09"
    elif 10 <= int(month) <= 12:
        month = "12"
    
    date = "1/" + month + "/" + date[-4:] 
    
    return cpi_dict[date]

In [36]:
get_CPI("04/11/2009")

0.805

In [37]:
newcol = []

for date in data1["Date"]:
    newcol.append(get_CPI(date))

In [38]:
newcol

[0.595,
 0.595,
 0.595,
 0.599,
 0.599,
 0.599,
 0.622,
 0.622,
 0.622,
 0.624,
 0.624,
 0.624,
 0.631,
 0.631,
 0.631,
 0.636,
 0.636,
 0.636,
 0.637,
 0.637,
 0.637,
 0.643,
 0.643,
 0.643,
 0.649,
 0.649,
 0.649,
 0.654,
 0.654,
 0.654,
 0.6579999999999999,
 0.6579999999999999,
 0.6579999999999999,
 0.662,
 0.662,
 0.662,
 0.6709999999999999,
 0.6709999999999999,
 0.6709999999999999,
 0.6709999999999999,
 0.6709999999999999,
 0.6709999999999999,
 0.675,
 0.675,
 0.675,
 0.6779999999999999,
 0.6779999999999999,
 0.6779999999999999,
 0.684,
 0.684,
 0.684,
 0.688,
 0.688,
 0.688,
 0.69,
 0.69,
 0.69,
 0.695,
 0.695,
 0.695,
 0.701,
 0.701,
 0.701,
 0.705,
 0.705,
 0.705,
 0.7120000000000001,
 0.7120000000000001,
 0.7120000000000001,
 0.715,
 0.715,
 0.715,
 0.721,
 0.721,
 0.721,
 0.733,
 0.733,
 0.733,
 0.74,
 0.74,
 0.74,
 0.7390000000000001,
 0.7390000000000001,
 0.7390000000000001,
 0.7390000000000001,
 0.7390000000000001,
 0.7390000000000001,
 0.748,
 0.748,
 0.748,
 0.753,
 0.753,
 0.753,
 0.76,
 0.76,
 0.76,
 0.77,
 0.77,
 0.77,
 0.782,
 0.782,
 0.782,
 0.7909999999999999,
 0.7909999999999999,
 0.7909999999999999,
 0.7879999999999999,
 0.7879999999999999,
 0.7879999999999999,
 0.789,
 0.789,
 0.789,
 0.7929999999999999,
 0.7929999999999999,
 0.7929999999999999,
 0.8,
 0.8,
 0.8,
 0.805,
 0.805,
 0.805,
 0.812,
 0.812,
 0.812,
 0.8170000000000001,
 0.8170000000000001,
 0.8170000000000001,
 0.823,
 0.823,
 0.823,
 0.8270000000000001,
 0.8270000000000001,
 0.8270000000000001,
 0.8390000000000001,
 0.8390000000000001,
 0.8390000000000001,
 0.846,
 0.846,
 0.846,
 0.852,
 0.852,
 0.852,
 0.852,
 0.852,
 0.852,
 0.852,
 0.852,
 0.852,
 0.857,
 0.857,
 0.857,
 0.8690000000000001,
 0.8690000000000001,
 0.8690000000000001,
 0.87,
 0.87,
 0.87,
 0.8740000000000001,
 0.8740000000000001,
 0.8740000000000001,
 0.877,
 0.877,
 0.877,
 0.887,
 0.887,
 0.887,
 0.894,
 0.894,
 0.894,
 0.899,
 0.899,
 0.899,
 0.904,
 0.904,
 0.904,
 0.9079999999999999,
 0.9079999999999999,
 0.9079999999999999,
 0.91,
 0.91,
 0.91,
 0.9109999999999999,
 0.9109999999999999,
 0.9109999999999999,
 0.917,
 0.917,
 0.917,
 0.922,
 0.922,
 0.922,
 0.925,
 0.925,
 0.925,
 0.9229999999999999,
 0.9229999999999999,
 0.9229999999999999,
 0.927,
 0.927,
 0.927,
 0.9329999999999999,
 0.9329999999999999,
 0.9329999999999999,
 0.9390000000000001,
 0.9390000000000001,
 0.9390000000000001,
 0.943,
 0.943,
 0.943,
 0.945,
 0.945,
 0.945,
 0.951,
 0.951,
 0.951,
 0.956,
 0.956,
 0.956,
 0.961,
 0.961,
 0.961,
 0.9640000000000001,
 0.9640000000000001,
 0.9640000000000001,
 0.968,
 0.968,
 0.968,
 0.9740000000000001,
 0.9740000000000001,
 0.9740000000000001,
 0.9740000000000001,
 0.9740000000000001,
 0.9740000000000001,
 0.98,
 0.98,
 0.98,
 0.985,
 0.985,
 0.985,
 0.991,
 0.991,
 0.991,
 0.995]

In [39]:
data1["CPI (Dec20$)"] = newcol

In [40]:
data1

,Date,OTH 18-20kg,OTH 20-22kg,OTH 22-24kg,WTFESY,Unnamed: 0,18-22kg,12-18kg,22+kg,16-22kg,0-18kg,18-24kg,CPI (Dec20$)
0,31/01/2000,204.000000,202.00,198.250000,145.250000,1.5,198.000000,186.000000,189.500000,145.250000,197.75,55.250000,0.595
1,29/02/2000,192.250000,188.75,187.000000,152.750000,5.5,182.500000,162.500000,178.000000,120.500000,167.75,48.750000,0.595
2,31/03/2000,189.000000,188.00,188.750000,153.200000,10.0,179.400000,167.600000,174.600000,131.600000,155.00,56.600000,0.595
3,30/04/2000,190.666667,189.00,190.666667,154.000000,14.5,172.750000,165.750000,163.750000,128.750000,160.25,66.250000,0.599
4,31/05/2000,176.600000,177.40,185.400000,157.000000,18.5,159.750000,148.250000,159.500000,108.250000,138.00,73.500000,0.599
...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,30/09/2019,790.800000,790.80,790.800000,370.000000,1026.5,822.000000,775.500000,824.500000,744.500000,840.00,555.500000,0.985
237,31/10/2019,783.000000,783.00,778.500000,382.500000,1031.0,801.800000,771.000000,800.400000,730.200000,849.80,575.800000,0.991
238,30/11/2019,759.250000,759.25,757.750000,376.250000,1035.5,749.250000,746.250000,742.000000,709.000000,788.50,577.250000,0.991
239,31/12/2019,721.000000,734.00,734.000000,403.333333,1039.5,729.166667,735.833333,727.416667,680.416667,725.00,521.833333,0.991
240,31/01/2020,695.500000,729.75,729.750000,429.333333,1043.5,754.333333,758.416667,738.333333,719.583333,778.50,559.916667,0.995

In [41]:
data1.to_csv("inner_join_with_CPI.csv")